<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <h2><%= "Add new user to #{@project.title} project" %></h2>
  <% u = User.all %>
  <%= fields_for(@project_user) do |ab| %>
      <div class="field">
        <%= ab.label "All Users" %><br/>
        <%= collection_select(:users, :id, u, :id, :name, {}, {:multiple => true}) %>
      </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
