<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<% if can? :edit, @project  %>
  <%= link_to 'Edit project', edit_project_path(@project) %><br><br>
<% end %>
<% if can? :destroy, @project  %>
  <%= link_to 'Delete project', @project, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
<% end %>
<br>

<% userss = @project.users.uniq %>
<% if userss.count > 0 %>
  <h2>Following Users are working on this Project </h2>
  <div>
      <% userss.each do |u| %> 
        <h3>Name: <%= u.name %></h3>
        <h3>User_type: <%= u.user_type %></h3>
        <% if can? :edit, @project  %>
          <%= link_to "Remove this user", userdelete_path(@project.id, u.id) %>
        <% end %>
        <hr>
      <% end %>
  </div>
<% end %>

<br>
<% if current_user %>
  <% if current_user.user_type == 'developer' %>
    <% bugs = Bug.where(fixer_id: current_user.id) %>
    <% bugss = bugs.where(project_id: @project.id) %>
  <% elsif current_user.user_type == 'qa' %>
    <% bugs = Bug.where(user_id: current_user.id) %>
    <% bugss = bugs.where(project_id: @project.id) %>
  <% else %>
    <% bugs = Bug.all %>
    <% bugss = bugs.where(project_id: @project.id) %>
  <% end %>
<% end %>

<% if bugss.count > 0 %>
  <h2> This Project has following Bugs </h2>
  <div id="bugs">
    <% bugss.each do |bug| %>
      <h3>Title: <%= bug.title %></h3>
      <h3>Description: <%= bug.description %></h3>
      <p> Screenshot: </p>
      <img src= <%= bug.screenshot %> >
      <p>
        <%= link_to "Show this bug", bug %>
      </p>
      <hr>
    <% end %>
  </div>
<% end %>