<!DOCTYPE html>
<html lang="en">
<head>
  <title>Projects page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Projects</h2>
  <h3>
    <strong>Title:</strong>
    <%= @project.title %>
  </h3>
  <h3>
    <strong>Description:</strong>
    <%= @project.description %>
  </h3>
  <% if can? :edit, @project  %>
    <%= link_to 'Edit project', edit_project_path(@project), class: "btn btn-warning" %><br><br>
  <% end %>
  <% if can? :destroy, @project  %>
    <%= link_to 'Delete project', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %><br><br>
  <% end %>

  <% userss = @project.users.uniq %>
  <% if userss.count > 0 %>
    <h2>Following Users are working on this Project </h2>

    <table class="table table-bordered">
    <thead>
      <tr class="success">
        <th>Name</th>
        <th>User type</th>
        <th>Contact info</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        <% userss.each do |u| %>
        <tr class="warning">
          <td><%= u.name %></td>
          <td><%= u.user_type %></td>
          <td><%= u.email %></td>
          <% if can? :edit, @project  %>
            <td><%= link_to "Remove this user", userdelete_path(@project.id, u.id), class: "btn btn-warning" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    </table>
  <% end %>



<% if current_user %>
  <% if current_user.user_type == 'developer' %>
    <% bugs = Bug.where(fixer_id: current_user.id) %>
    <% bugss = bugs.where(project_id: @project.id) %>
  <% elsif current_user.user_type == 'qa' %>
    <% bugs = Bug.where(user_id: current_user.id) %>
    <% bugss = bugs.where(project_id: @project.id) %>
  <% else %>
    <% bugs = Bug.all %>
    <% bugss = bugs.where(project_id: @project.id) %>
  <% end %>
<% end %>

<% if bugss.count > 0 %>
  <h2> This Project has following Bugs </h2> 
  <table class="table table-bordered">
    <thead>
      <tr class="success">
        <th>Title</th>
        <th>Description</th>
        <th>Screenshot</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
  
  <tbody>
    <% bugss.each do |bug| %>
      <tr class="warning">
        <td><%= bug.title %></td>
        <td><%= bug.description %></td>
        <% if bug.screenshot.blank? %>
          <td>This bug has no screenshot</td>
        <% else %>
          <td><%= bug.screenshot.to_s.split('/').last %></td>
        <% end %>
        <td><%= bug.bug_type %></td>
        <td><%= link_to 'Show', bug, class: "btn btn-info"%>
      </tr>
    <% end %>
  </tbody>
  </table>
<% end %>

</div>

</body>
</html>