<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit this Bug</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h2>Edit this Bug</h2>
  
  <%= form_with(model: bug, local: true) do |form| %>
    <% if bug.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

        <ul>
        <% bug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title_of_Bug %>
      <%= form.text_field :title %>
    </div>

    <div class="form-group">
    <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <div class="form-group">
      <%= form.label :screenshot %><br>
      <%= form.file_field :screenshot, type: "file", class: "vendor_logo_hide", name: "v_logo", id: 'Uploadfile' %>
      <% imgg = @bug.screenshot.to_s.split('/').last %>
    </div>

    <script>
      $(document).ready(function() {
        $("#Uploadfile").after("<span class='file_placeholder'><%= imgg %></span>");
        $('#Uploadfile').change(function() {
          $(".file_placeholder").empty(); 
          $('#Uploadfile').removeClass('vendor_logo_hide');
        });
      });
    </script>

    <style>
      .vendor_logo_hide {
        display: inline !important;
        color: transparent;
        width: 99px;
      }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <div class="form-group">
      <%= form.label :deadline %>
      <%= form.date_select :deadline %>
    </div>

    <div class="form-group">
     <%= label :bug_type, 'Type: ' %>
      <%= form.radio_button :bug_type, 'bug', :selected => "selected" %>
      <%= label :bug_type, 'Bug' %>
      <%= form.radio_button :bug_type, 'feature' %>
      <%= label :bug_type, 'feature' %>
    </div>

    <div class="form-group">
      <% bug_status = ['New', 'Started', 'Completed'] %>
      <%= form.label :status, 'Status:' %>
      <%= form.select(:status, bug_status,{}) %>
    </div>

  
    <div class="form-group">
      <%= form.label :This_bug_belongs_to %><br>
      <%= form.select(:project_id, Project.all.pluck(:title, :id)) %> Project
    </div>


    <div>
      <% developers = User.where(user_type: 'developer') %>
      <%= form.label :Developer_who_will_work_on_this_bug %>
      <%= form.select(:fixer_id, developers.all.pluck(:name, :id)) %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

  <script>
    function toggleSelects() {
      var value = $('#bug_type').find(":selected").text();
      $('[data-target=bug]').toggle(value === 'Bug');
      $('[data-target=bug] select').attr('disable', value !== 'Bug');
      $('[data-target=feature]').toggle(value === 'Feature');
      $('[data-target=feature] select').attr('disable', value !== 'Feature');
    }
    $('#bug_type').on('change', () => toggleSelects());

    $(toggleSelects);
  </script>

  <script >
    $("input[name='bug[bug_type]']").change(function() {
      console.log('inside chnage method')
      var obj = $("select[name='bug[status]']")[0][2]
      if (this.value==='bug') {
        obj.text = "Resolved"
      } else {
        obj.text  = "Completed"
      }
    })
  </script>

  <h3><%= link_to 'Back', bugs_path %></h3>


</div>

</body>
</html>