<%= form_with(model: bug, local: true) do |form| %>
  <% if bug.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

      <ul>
      <% bug.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :screenshot %>
    <%= form.file_field :screenshot %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.date_select :deadline %>
  </div>

  <div class="field" id="bug_type">
    <%= form.label :bug_type %>
    <%= form.select :bug_type, [['Bug','bug'],['Feature','feature']] %>
  </div>
  <br>

  <div>
    <%= form.label :This_bug_belongs_to %>
    <%= form.select(:project_id, Project.all.pluck(:title, :id)) %> Project
  </div>
  <br>

  <div class="field" data-target='bug'>
    <%= form.label :status, class:"form-control" %>
    <%= form.select :status, (Bug.statuses.keys - ['Completed']).map {|role| [role.titleize, role]}%>
  </div>
  <br>

  <div class="field" data-target='feature'>
    <%= form.label :status, class:"form-control" %>
    <%= form.select :status, (Bug.statuses.keys - ['Resolved']).map {|role| [role.titleize, role]}%>
  </div>
  <br>

  <div>
    <% developers = User.where(user_type: 'developer') %>
    <%= form.label :Developer_who_will_work_on_this_bug %>
    <%= form.select(:fixer_id, developers.all.pluck(:name, :id)) %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  function toggleSelects() {
    var value = $('#bug_type').find(":selected").text();
    $('[data-target=bug]').toggle(value === 'Bug');
    $('[data-target=bug] select').attr('disable', value !== 'Bug');
    $('[data-target=feature]').toggle(value === 'Feature');
    $('[data-target=feature] select').attr('disable', value !== 'Feature');
  }
  $('#bug_type').on('change', () => toggleSelects());

  $(toggleSelects);
</script>
