<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create new Bug</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h2>Create new Bug</h2>
  
  <%= form_with(model: bug, local: true) do |form| %>
    <% if bug.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

        <ul>
        <% bug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title_of_Bug %>
      <%= form.text_field :title %>
    </div>

    <div class="form-group">
    <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <div class="form-group">
      <%= form.label :screenshot %>
      <%= form.file_field :screenshot %>
    </div>

    <div class="form-group">
      <%= form.label :deadline %>
      <%= form.date_select :deadline %>
    </div>

    <div class="form-group">
      <%= form.label :This_bug_belongs_to %><br>
      <%= form.select(:project_id, Project.all.pluck(:title, :id)) %> Project
    </div>

    <div class="form-group">
     <%= label :bug_type, 'Type: ' %>
      <%= form.radio_button :bug_type, 'bug', checked: "checked" %>
      <%= label :bug_type, 'Bug' %>
      <%= form.radio_button :bug_type, 'feature' %>
      <%= label :bug_type, 'feature' %>
    </div>

    <div class="form-group">
      <% bug_status = ['New', 'Started', 'Resolved'] %>
      <%= form.label :status, 'Status:' %>
      <%= form.select(:status, bug_status,{}) %>
    </div>

    <div>
      <% developers = User.where(user_type: 'developer') %>
      <%= form.label :Developer_who_will_work_on_this_bug %>
      <%= form.select(:fixer_id, developers.all.pluck(:name, :id)) %>
    </div>

    <h3><%="You are logged in as #{current_user.name} who is a #{current_user.user_type} user" %><br></h3>
    <h3>This Bug will be created against your records</h3>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

  <script >
    $("input[name='bug[bug_type]']").change(function() {
      console.log('inside chnage method')
      var obj = $("select[name='bug[status]']")[0][2]
      if (this.value==='bug') {
        obj.text = "Resolved"
        obj.value = "Resolved"
      } else {
        obj.text  = "Completed"
        obj.value = "Completed"
      }
    })
  </script>

  <h3><%= link_to 'Back', bugs_path %></h3>


</div>

</body>
</html>