<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create new Bug</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h2>Create new Bug</h2>
  
  <%= form_with(model: bug, local: true) do |form| %>
    <% if bug.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bug.errors.count, "error") %> prohibited this bug from being saved:</h2>

        <ul>
        <% bug.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :title_of_Bug %>
      <%= form.text_field :title %>
    </div>

    <div class="form-group">
    <%= form.label :description %>
      <%= form.text_field :description %>
    </div>

    <div class="form-group">
      <%= form.label :screenshot %>
      <%= form.file_field :screenshot %>
    </div>

    <div class="form-group">
      <%= form.label :deadline %>
      <%= form.date_select :deadline %>
    </div>

    <div class="form-group" id="bug_type">
      <%= form.label :bug_type %>
      <%= form.select :bug_type, [['Bug','bug'],['Feature','feature']] %>
    </div>

    <div class="form-group">
      <%= form.label :This_bug_belongs_to %><br>
      <%= form.select(:project_id, Project.all.pluck(:title, :id)) %> Project
    </div>

    <div class="form-group" data-target='bug'>
      <%= form.label :status %>
      <%= form.select :status, (Bug.statuses.keys - ['Completed']).map {|role| [role.titleize, role]}%>
    </div>

    <div class="form-group" data-target='feature'>
      <%= form.label :status  %>
      <%= form.select :status, (Bug.statuses.keys - ['Resolved']).map {|role| [role.titleize, role]}%>
    </div>

    <div>
      <% developers = User.where(user_type: 'developer') %>
      <%= form.label :Developer_who_will_work_on_this_bug %>
      <%= form.select(:fixer_id, developers.all.pluck(:name, :id)) %>
    </div>

    <h3><%="You are logged in as #{current_user.name} who is a #{current_user.user_type} user" %><br></h3>
    <h3>This Bug will be created against your records</h3>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

  <script>
    function toggleSelects() {
      var value = $('#bug_type').find(":selected").text();
      $('[data-target=bug]').toggle(value === 'Bug');
      $('[data-target=bug] select').attr('disable', value !== 'Bug');
      $('[data-target=feature]').toggle(value === 'Feature');
      $('[data-target=feature] select').attr('disable', value !== 'Feature');
    }
    $('#bug_type').on('change', () => toggleSelects());

    $(toggleSelects);
  </script>

  <h3><%= link_to 'Back', bugs_path %></h3>


</div>

</body>
</html>