<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bugs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h1>Bugs</h1>
  <table class="table table-bordered">
    <thead>
      <tr class="success">
        <th>Title</th>
        <th>Description</th>
        <th>Screenshot</th>
        <th>Type</th>
        <th></th>
      </tr>
    </thead>
  
  <tbody>
    <% @bugs.each do |bug| %>
      <tr class="warning">
        <td><%= bug.title %></td>
        <td><%= bug.description %></td>
        <% if bug.screenshot.blank? %>
          <td>This bug has no screenshot</td>
        <% else %>
          <td><%= bug.screenshot.to_s.split('/').last %></td>
        <% end %>
        <td><%= bug.bug_type %></td>
        <td><%= link_to 'Show', bug, class: "btn btn-info"%>
      </tr>
    <% end %>
  </tbody>
  </table>

  <div>
  <% if can? :create, Bug %>
    <%= link_to "Create New bug", new_bug_path, class: "btn btn-success" %>
  <% end %>
  </div>

</div>

</body>
</html>